*{
  margin-left: 13px;
  margin-top: 16px;
}
 #heading{
  margin-top: 55px;
  font-size: 90px;
  margin-left: 50px;
  font-weight: 900;
 }

 #word{
  color: midnightblue;
 }


.box{
  height: 200px;
  width: 100%;
  font-size: 20px;
}

#body{
  display: flex;
  width: 90vw;
  height: 250px;
}

#content1{
  margin-left: 18px;
  margin-right: 22px;
}

#content2{
  margin-left: 18px;
}

#div{
  float: right;
  margin-right: 40px;
  margin-bottom: 40px;
}

.button{
  border-radius: 30%;
  height: 60px;
  width: 60px;
}